{% extends 'base.html' %}
{% block title %}Sobre mi{% endblock %}
{% block content %}

    <main class="container-post">
         <article class="uk-article uk-margin-large">
             <div class="uk-text-center">
                 <img class="image-about" src="{{ url_for('static', filename='img/yo.jpg') }}">
             </div>
             <h1 class="titulo-about-post">H. Ulises G.M.</h1>
             <p class="uk-article-meta">Web Developer</p>
             <p>
                Me llamo Héctor Ulises González Medel, me encanta descubrir música nueva y la programación.
                 Actualmente sigo estudiando ingeniería en computación en la Universidad Nacional Autónoma de México (UNAM)

             </p>
             <p>
                En ocasiones doy cursos con <b><a class="links-black" target="_blank" href="https://epicqueen.com">Epic Queen</a></b> y en otras escuelas de programación, y ocasionalmente soy freelancer.
                 Me encanta tanto el frontend como el backend, domino las tecnologías básicas del front que vienen siendo HTML, CSS y JS y se lo basico de Angular
                 Y en el backend me gusta más trabajar con stack de python como Flask (con lo que hice la página) o con Django.
                 Actualmente quiero estudiar más a fondo Flask y mejorar mis habilidades backend, pero si se me atraviesa otra tecnología tal vez le eche el ojo. (¯\_(ツ)_/¯)
             </p>
             <p>
                 Soy el actual organizador de <b><a class="links-black" target="_blank" href="https://gdg.community.dev/gdg-unam/">GDG UNAM</a></b> y me encanta asistir y organizar eventos acerca del desarrollo,
                 en ocasiones también impartirlas, por ahora mi plan es crear un curso de Flask y subirlo a mi canal de youtube y a GDG UNAM.
                 También con amigos comenzamos  <b><a class="links-black" target="_blank" href="https://anchor.fm/un-podcast-junior">Un podcast junior</a></b> donde hablamos de temas de tecnología y programación de una manera muy básica
                 y <b><a class="links-black" target="_blank" href="https://anchor.fm/el-fork">El fork</a></b> otro podcast donde entrevistamos a personas que admiramos y tratamos de ver cuál es su rutina día a día y como llegaron a donde están.
             </p>
             <p>
                 Si deseas contactarme abajo tienes un formulario para mandarme correo o también podrás encontrar el link a todas mis redes sociales.
             </p>
         </article>
     </main>

{% endblock %}