<!DOCTYPE html>
<html lang="es">
<head>
    <!--Metas-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content= "Bienvenidos a mí página web, aquí podrás conocer un poco más de mis proyectos y talleres que he dado y ocasionalmente entradas de blog que iré publicando" />
    <meta name="author" content="Hector Ulises Gonzalez Medel" />
    <meta name="robots" content= "index, follow">
    <!--Estilos-->
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/normalize.css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/uikit/dist/css/uikit.min.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat:wght@200&family=Roboto+Condensed&family=Source+Serif+Pro:wght@900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% include 'components/nav.html' %}

{% block content %}{% endblock %}

{% include 'components/footer.html' %}


    <script src="{{ url_for('static', filename='node_modules/uikit/dist/js/uikit.min.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>