{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
 <main class="container-post">
  <form method="post">
    <div class="uk-margin">
        <input placeholder="Username" class="uk-input" name="username" id="username" required>
    </div>
    <div class="uk-margin">
        <input placeholder="Password" class="uk-input" type="password" name="password" id="password" required>
    </div>
    <div class="uk-margin uk-text-center">
        <button type="submit" class="uk-button uk-button-primary">Registrar</button>
    </div>
  </form>
 </main>
{% endblock %}