.image-about{
    width: 200px;
    border-radius: 100%;
}


@media screen and (max-width: 600px) {
  .card-github{
    flex-direction: column !important;
  }
}

.github-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.github-card a{
    color: black;
}
.github-card a:hover{
    color: black;
}