.container-post{
    /* display: flex;
    justify-content: center; */
}

.container-post{
    margin:0;
    padding:0 20%;
}

.links-black, .link-cards, article a{
    color: black;
}

.titulo-about-post{
    font-size:83px
}

.titulo-secciones{
     font-size:63px
}