{% extends 'base.html' %}

{% block header %}
  {% block title %}Crear Post{% endblock %}
{% endblock %}

{% block content %}
<main class="container-post">
  <form class="uk-margin" method="post" enctype=multipart/form-data>
    <div class="uk-margin">
        <input class="uk-input" placeholder="Titulo"  name="title" id="title" value="{{ request.form['title'] }}" required>
    </div>
    <div class="uk-margin">
        <textarea class="uk-textarea" rows="5" placeholder="Texto" name="body" id="body">{{ request.form['body'] }}</textarea>
    </div>
      <div class="uk-margin" uk-margin>
        <div uk-form-custom="target: true">
            <input name="file" type="file">
            <input  id="file"  class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
        </div>
    </div>
    <div class="uk-text-center">
        <button type="submit" class="uk-button uk-button-primary">Guardar</button>
    </div>
  </form>
</main>
{% endblock %}