{% extends 'base.html' %}

{% block content %}

    <main class="container-post">
         <article class="uk-article uk-margin-large">
             <h1 style="font-size:83px">{{ post['title'] }}</h1>
             <p class="uk-article-meta">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</a></p>
             <!--<p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p> -->
             <p>{{ post['body'] }}</p>
         </article>
     </main>

{% endblock %}