{% extends 'base.html' %}
{% block title %}{{ post['title'] }}{% endblock %}

<style>
    a{
        color: black;
    }
</style>

{% block content %}

    <main id="post">
         <article class="uk-article uk-margin-large">
             <h1 class="titulo-secciones"> {{ post['title'] }}</h1>
             <p class="uk-article-meta">Escrito por H. Ulises G.M. el {{ post['created'].strftime('%d-%m-%Y') }}</p>
             <p>{{ post['body']|safe }}</p>
         </article>
     </main>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/style.js') }}"></script>
{% endblock %}