{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    {{ ckeditor.load() }}
 <main class="container-post uk-margin">
  <form method="post" enctype=multipart/form-data>
    <div class="uk-margin">
        <input class="uk-input" placeholder="Titulo" name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    </div>
    <div class="uk-margin">
        {{ ckeditor.create(value=request.form['body'] or post['body']) }}
    </div>
      <div class="uk-margin" uk-margin>
        <div uk-form-custom="target: true">
            <input  name="file" type="file">
            <input  id="file" class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
        </div>
    </div>
    <div class="uk-text-center">
        <button type="submit" class="uk-button uk-button-primary">Guardar</button>
    </div>
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <div class="uk-text-center">
        <button type="submit" class="uk-button uk-button-danger" onclick="return confirm('Are you sure?');">Borrar</button>
    </div>
  </form>
 </main>
{% endblock %}