    <footer>
        <div class="my-container">
            <!-- Navbar - Footer -->
            <div class="navbar-footer uk-padding-small">
                <div><p class="uk-margin-remove"><b>The blog of Ulysses316</b></p></div>
                <div>
                    <a class="icon-social" href="https://www.instagram.com/ulysses.316/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="icon-social" href="https://www.facebook.com/ulysses316/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="icon-social" href="https://twitter.com/ulysses_316" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="icon-social" href="https://www.linkedin.com/in/ulysses316/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="icon-social" href="https://open.spotify.com/user/ulysses316hugm" target="_blank"><i class="fab fa-spotify"></i></a>
                    <a class="icon-social" href="https://github.com/ulysses316/" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <hr>
            <!-- Navbar - Footer -->
            <!-- Links and Form -->
            <div class="uk-child-width-expand@s uk-grid-divider" uk-grid>
                <div class="uk-flex uk-flex-center uk-flex-middle">
                    <div uk-grid>
                        <a class="uk-width-1-3@m" href="{{ url_for("about") }}">Sobre mi</a>
                        <a class="uk-width-1-3@m" href="{{ url_for("cv") }}">CV</a>
                        <a target="_blank" class="uk-width-1-3@m" href="https://anchor.fm/el-fork">El fork</a>
                        <a class="uk-width-1-3@m" href="{{ url_for("portafolio.portafolio") }}">Proyectos personales</a>
                        <a target="_blank" class="uk-width-1-3@m" href="https://gdg.community.dev/gdg-unam/">GDG UNAM</a>
                        <a target="_blank" class="uk-width-1-3@m" href="https://anchor.fm/un-podcast-junior">Un podcast junior</a>
                        <a class="uk-width-1-3@m" href="{{ url_for("workshop.workshop") }}">Talleres impartidos</a>
                    </div>
                </div>
                <div class="">
                    <form action="{{ url_for('email.email') }}" class="uk-width-1-1 uk-text-center" method="post">
                            <p class="uk-legend">Contactame</p>

                            <div class="uk-margin">
                                <input name="subject" class="uk-input" type="text" placeholder="Asunto">
                            </div>

                            <div class="uk-margin">
                                <input name="nameSender" class="uk-input" type="text" placeholder="Nombre">
                            </div>

                            <div class="uk-margin">
                                <input name="senderEmail" class="uk-input" type="text" placeholder="Correo electronico">
                            </div>

                            <div class="uk-margin">
                                <textarea name="message" class="uk-textarea" rows="5" placeholder="Mensaje"></textarea>
                            </div>

                            <button type="submit" class="uk-button uk-button-primary">Enviar</button>
                    </form>
                </div>
            </div>
            <!-- Links and Form -->
            <!-- Legacy -->
            <hr>
            <div class="uk-flex uk-flex-around uk-flex-middle uk-padding-small uk-flex-column">
                <span>The blog of Ulysses316</span>
                <span>Made with <i class="fas fa-heart"></i></span>
            </div>
            <!-- Legacy -->
        </div>
    </footer>