{% extends 'base.html' %}
{% block title %}Talleres / Crusos{% endblock %}
{% block content %}
    <main class="uk-margin">
        <h1 class="uk-text-center titulo-secciones">Workshops</h1>
        <section class="uk-child-width-1-4@m uk-grid-small uk-padding" uk-grid>
            <!-- CARD Begin -->
            {% for workshop in workshops %}
            <div>
            <a target="_blank" href="{{ workshop['url'] }}">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img width="100%" src="{{ workshop['file'] }}" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ workshop['title'] }}</h3>
                        <p class="">
                            {% if current_user.id == 1 %}
                              <a class="action" href="{{ url_for('workshop.update', id=workshop['id']) }}">Edit</a>
                            {% endif %}
                            <p class="body project-description ">{{ workshop['body'] }}</p>
                        </p>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
            <!-- CARD END -->
        </section>
    </main>

{% endblock %}