{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<main class="container-post">
  <form class="uk-margin" method="post">
    <div class="uk-margin">
        <input class="uk-input" placeholder="URL"  name="urlRepo" id="urlRepo" value="{{ request.form['urlRepo'] }}" required>
    </div>
    <div class="uk-text-center">
        <button type="submit" class="uk-button uk-button-primary">Guardar</button>
    </div>
  </form>
</main>
{% endblock %}