{% extends 'base.html' %}

{% block content %}

    <main class="uk-margin">
        <h1 class="uk-text-center" style="font-size:63px">Portafolio</h1>
        <section class="uk-child-width-1-4@m uk-grid-small uk-padding" uk-grid>
            <!-- CARD Begin -->
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img width="100%" src="https://picsum.photos/200/" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p class="project-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Exercitationem laboriosam beatae veritatis itaque.
                            Ex nemo minus asperiores, porro praesentium exercitationem a dolorem delectus mollitia accusamus id soluta facilis ullam sint!
                        </p>
                    </div>
                </div>
            </div>
                <!-- CARD END -->
        </section>
    </main>

{% endblock %}