{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ projects['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
 <main class="container-post uk-margin">
  <form method="post">
    <div class="uk-margin">
        <input class="uk-input" placeholder="URL" name="urlRepo" id="urlRepo"
      value="{{ request.form['urlRepo'] or projects['url'] }}" required>
    </div>
    <div class="uk-text-center">
        <button type="submit" class="uk-button uk-button-primary">Guardar</button>
    </div>
  </form>
  <hr>
  <form action="{{ url_for('portafolio.delete', id=projects['id']) }}" method="post">
    <div class="uk-text-center">
        <button type="submit" class="uk-button uk-button-danger" onclick="return confirm('Are you sure?');">Borrar</button>
    </div>
  </form>
 </main>
{% endblock %}